
.img{
    background-image: url("https://3.bp.blogspot.com/-ImFkB8iG4jE/Tr1S39XeY3I/AAAAAAAAA4s/t5E9k9x3r2c/s1600/Sea+Wallpaper+02.jpg");
}
.jumbotron
{
    background: none;
}
.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }